<h1>Example App: Home</h1>

<!--<html>-->
<!--<body>-->
<!--<h1>Hello, it's Dima's blog, be careful!</h1>-->
<!--<div>-->
<!--    <img src="/img/funny-moose.png">-->
<!--</div>-->
<!--<div>Not surprised? Good :) </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->